<%= form_tag team_users_path, :method => 'get', :id => 'users_search' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<% if @users != nil %>
  <% @users.each do |user| %>
    <h1><%= user.email%>
    <h1><%= link_to "Add Player", edit_team_user_path(@team.id, user.id) %>
  <% end %>
<% end %>
