<h1>Challange Team Proof</h1>

<h1><%=image_tag @ticket.chlg_team_img1.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.chlg_team_img2.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.chlg_team_img3.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.chlg_team_img4.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.chlg_team_img5.url(:ticket_index)%><h1>
<h1>Accpeting Team Proof</h1>

<h1><%=image_tag @ticket.acpt_team_img1.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.acpt_team_img2.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.acpt_team_img3.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.acpt_team_img4.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.acpt_team_img5.url(:ticket_index)%><h1>



