<h1>Show Ticketsd</h1>
<h1><%=image_tag @ticket.proof_img1.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.proof_img2.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.proof_img3.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.proof_img4.url(:ticket_index)%><h1>
<h1><%=image_tag @ticket.proof_img5.url(:ticket_index)%><h1>


