<h1><%= link_to "View Team", team_path(@team.id)%></h1>
<% if @match.size == 0 %>
  <% if params[:match_status] == "upcoming" %>
    <h1>No upcoming matches</h1>
    <h1><%= link_to "Create Match", new_team_match_path(@team.id)%></h1>
  <%elsif params[:match_status] == "disputed" %>
    <h1>You have no disputed matches</h1>
  <%elsif params[:match_type] == "tournament" %>
    <h1>You have no tournament matches</h1>
  <%elsif params[:match_status] == "completed"%>
    <h1>You have no completed matches</h1>
  <% else %>
    <h1>No available matches</h1>
    <h1><%= link_to "Create Match", new_team_match_path(@team.id)%></h1>
  <% end %>
<% else %>
  <% if params[:match_status] == "upcoming" || params[:match_status] == nil%>
    <h1><%= link_to "Create Match", new_team_match_path(@team.id)%></h1>
  <% end %>
  <% @match.each do |match| %>
    <% if params[:match_status] == "disputed" %>
      <h3><%= link_to "View disputed Match", team_match_path(@team.id, match.id, :match_status => "disputed")%></h3>
    <%elsif params[:match_type] == "tournament"%>
      <h3><%= link_to "View tournament Match", team_match_path(@team.id, match.id, :match_type => "tournament")%></h3>
    <%elsif params[:match_status] == "completed" %>
      <h3><%= link_to "View completed Match", team_match_path(@team.id, match.id, :match_status => "completed")%></h3>
    <%else %>
      <% Time.zone = current_user.time_zone%>
      <%= Time.at(match.match_time).in_time_zone%>
      <!%= Time.match_time.change(offset: "-9000")%>
      <h3><%=match.match_time%></h3>
      <% if match.chlg_team_id == @team.id || match.acpt_team_id == @team.id %>
        <% if params[:match_status] == "upcoming"%>
          <h3><%= link_to "View Match", team_match_path(@team.id, match.id)%></h3>
        <% else %>
          <h3><%= link_to "View Match", team_match_path(@team.id, match.id)%></h3>
          <h3><%= link_to "Remove Match", team_match_path(@team.id, match.id),
            method: :delete, data: {confirm: "Are you sure"} %></h3>
        <% end %>
      <% else %>
        <h3><%= link_to "Accept Match", edit_team_match_path(@team.id, match.id,:match => "accepted")%></h3>
      <% end %>
    <%end %>
  <% end %>
<% end %>


