
<!DOCTYPE html>
  <html>
    <head>
      <title>WagerWars</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
    <nav class="navbar navbar-default">
      <div class="containter">
        <div class="navbar-header">
          <%= link_to "Wager Wars", root_path, class: "navbar-brand" %>
        </div>
       <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.user_icon_file_name != nil %>
            <li><%= image_tag current_user.user_icon.url(:user_show)%></li>
          <% end %>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Messages", user_messages_path(current_user.id)%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teams <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% team = Team.all.select {|m| m.user_id.include? current_user.id} %>
              <%team.each do |t| %>
                <li><%= link_to t.name, team_path(t.id)%></li>
              <% end %>
            </ul>
          <% if user_signed_in? && is_admin?(current_user.email) %>
            <li><%= link_to "All Tickets", tickets_path%></li>
          <% end %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path%></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>

       </ul>
      </div>
    </nav>
    <nav class="navbar navbar-default">
      <div class="containter">
        <ul class="nav navbar-nav">
          <% Platform.all.each do |platform| %>
            <li><%= link_to platform.name, platform_path(platform.id), class: "navbar-brand"%></li>
            <% end %>
          <% if user_signed_in? && is_admin?(current_user.email) %>
            <li><%= link_to "Add Platform", new_platform_path %></li>
          <% end %>

        </ul>
      </div>
    </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </body>
</html>
